<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Classroom Job Board</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Classroom Job Board</h1>
  <p>Welcome to Classroom Job Board</p>
  <p>Log in with Google to import your course rosters.</p>
  <p>
      <a href="<%= loginUrl %>">Login</a>
  </p>
</body>
</html>
