<section class="bg-light text-dark">
    <div class="container">
      <h1>Classroom Job Board</h1>
      <p>Welcome to Classroom Job Board</p>
      <p>Log in with Google to import your course rosters.</p>
      <p>
          <a href="<%= loginUrl %>">Login</a>
      </p>
    </div>
</section>


