<section>
    <div class="container">
        <h1>Login</h1>
        <form action="/login" method="POST">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" id="username-input" placeholder="#" required>
                <label for="username-input">Username</label>
            </div>
            
            
        </form>
    </div>
</section>
