<section>
    <div class="container">
        <h1 class="mb-3">Login</h1>
        <form action="/login" method="POST">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" id="username-input" placeholder="#" required>
                <label for="username-input">Username</label>
            </div>

            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="password-input" placeholder="#" required>
                <label for="username-input">Email</label>
            </div>
            
            <button type="submit" class="btn btn-primary mb-3">Log in</button>
            
        </form>
    </div>
</section>
